* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
    list-style: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: rgb(25, 25, 25);
}

input {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

div#content {
    transition: all .25s ease;
    filter: blur(0px);
}

.blurred {
    filter: blur(10px) !important;
}