* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
    list-style: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
input {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}
body {
    background-color: rgb(25, 25, 25);
}

div#content {
    transition: all .25s ease;
    filter: blur(0px);
}

.blurred {
    filter: blur(10px) !important;
}

.evput {
    position: relative;
}
.evput input {
    width: 100%;
    padding: 34px 15px 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.75);
    font-family: Helvetica, Arial, sans-serif;
    transition: all .25s ease;
}
.evput input:autofill {
    background: rgba(245, 245, 245, 0.75);
}
.evput label {
    top: 10px;
    left: 15px;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(25, 25, 25);
}
.empty-evput + label {
    top: 22px;
    left: 25px;
    font-size: 1rem;
}
.evput input:focus + label {
    top: 10px;
    left: 15px;
    font-size: 0.8rem;
}
.evput input:hover,
.evput input:focus {
    background: whitesmoke;
    outline: none;
}
/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .evput input:-webkit-autofill {
        background-color: rgba(245, 245, 245, 0);
        -webkit-box-shadow: inset 0 0 0px 9999px rgba(245, 245, 245, 0.75);
        box-shadow: inset 0 0 0px 9999px rgba(245, 245, 245, 0.75);
    }
}