{% extends "template.html" %}

{% block preload %}
    <link rel="preload" href={{ url_for('static', filename='css/forms.css') }} as="style" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/forms.css') }} />
{% endblock %}

{% block content %}
    <form action="/" method="POST">
        <div class="control-group-col">
            <div class="evput">
                <input type="text" autocomplete="off" name="email" id="email" />
                <label for="email" class="input-label">Email</label>
            </div>
        </div>
        <div class="control-group-col">
            <div class="evput">
                <input type="password" name="password" id="password" />
                <label for="password" class="input-label">Password</label>
            </div>
        </div>
        <div class="control-group-col no-margin" id="form-errors">
            <p class="error-text" id="error-text"></p>
        </div>
        <div class="control-group-row">
            <input class="form-button primary-button half-button" type="submit" value="Login" />
            <a class="form-button secondary-button half-button" href="/register">Register</a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{ url_for('static', filename='/js/login.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='/js/evput.js') }}></script>
{% endblock %}
