{% extends "template.html" %}
{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }} />
{% endblock %}
{% block content %}
    <form action="/" method="POST">
        <div class="control-group-col">
            <label for="username" class="input-label">Username</label>
            <input type="text" name="username" id="username" />
        </div>
        <div class="control-group-col">
            <label for="password" class="input-label">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <div class="control-group-row">
            <input class="form-button primary-button" type="submit" value="Login" />
            <a class="form-button secondary-button" href="/register">Register</a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{ url_for('static', filename='/js/login.js') }}></script>
{% endblock %}
