{% if current_user.is_authenticated %}
    <div id="nav-container">
        <div id="nav-toggle">
            <span class="nav-toggle-design" id="nav-toggle-bar-1"></span>
            <span class="nav-toggle-design" id="nav-toggle-bar-2"></span>
            <span class="nav-toggle-design" id="nav-toggle-bar-3"></span>
        </div>
        <nav>
            <div id="backdrop">
                <h1>MENU</h1>
            </div>
            <a href={{ url_for('calendar') }}>CALENDAR</a>
            <a href={{ url_for('finances') }}>FINANCES</a>
            <a href={{ url_for('settings') }}>SETTINGS</a>
            <a href={{ url_for('logout') }}>LOGOUT</a>
        </nav>
    </div>
{% endif %}