{% if current_user.is_authenticated %}
    <div id="nav-container">
        <div id="nav-toggle">
            <span class="nav-toggle-design" id="nav-toggle-bar-1"></span>
            <span class="nav-toggle-design" id="nav-toggle-bar-2"></span>
            <span class="nav-toggle-design" id="nav-toggle-bar-3"></span>
        </div>
        <nav>
            <a href={{ url_for('calendar') }}>Calendar</a>
            <a href={{ url_for('settings') }}>Settings</a>
            <a href={{ url_for('logout') }}>Logout</a>
        </nav>
    </div>
{% endif %}