{% extends "template.html" %}

{% block preload %}
    <link rel="preload" href={{ url_for('static', filename='css/forms.css') }} as="style" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/forms.css') }} />
{% endblock %}

{% block content %}
    <form action="/" method="POST" autocomplete="off">
        <div class="control-group-row flex-space-between no-margin">
            <div class="control-group-col half-input">
                <div class="evput">
                    <input  type="text" name="first-name" id="first-name" />
                    <label for="first-name" class="input-label">First Name</label>
                </div>
            </div>
            <div class="control-group-col half-input">
                <div class="evput">
                    <input type="text" name="last-name" id="last-name" />
                    <label for="last-name" class="input-label">Last Name</label>
                </div>
            </div>
        </div>
        <div class="control-group-col">
            <div class="evput">
                <input type="text" name="email" id="email" />
                <label for="email" class="input-label">Email</label>
            </div>
        </div>
        <div class="control-group-col">
            <div class="evput">
                <input type="password" name="password" id="password" />
                <label for="password" class="input-label">Password</label>
            </div>
        </div>
        <div class="control-group-col">
            <div class="evput">
                <input type="password" name="confirm-password" id="confirm-password" />
                <label for="confirm-password" class="input-label">Confirm Password</label>
            </div>
        </div>
        <div class="control-group-col no-margin" id="form-errors">
            <p class="error-text" id="error-text"></p>
        </div>
        <div class="control-group-row">
            <input class="form-button primary-button half-button" type="submit" value="Register" />
            <a class="form-button secondary-button half-button" href="/">Login</a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{ url_for('static', filename='/js/register.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='/js/evput.js') }}></script>
{% endblock %}
