{% extends "template.html" %}
{% block content %}
    <div>
        <div id="menu-container">
            <div id="menu-links">
                <div class="menu-link active" id="accounts-link"><p>Accounts</p></div>
                <div class="menu-link" id="income-link"><p>Income</p></div>
                <div class="menu-link" id="accounts-link"><p>Expenses</p></div>
            </div>
            <div id="menu-body">
                <div id="accounts-body">

                </div>
                <div id="income-body">
                    
                </div>
                <div id="expenses-body">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{ url_for('static', filename='js/calendar/finances.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/settings.js') }}></script>
{% endblock %}