<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Money Calendar</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}" />
    </head>
    <body>
        {% include "nav.html" %}
        
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                        <p class="flash-message">{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='dateLib.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='modal.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='messsages.js')}}"></script>

        {% if current_user.is_authenticated %}
            <script type="text/javascript" src="{{ url_for('static', filename='nav.js') }}"></script>
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
</html>