<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preload" href={{ url_for('static', filename='css/main.css') }} as="style" />
        <link rel="preload" href={{ url_for('static', filename='css/nav.css') }} as="style" />
        {% block preload %}{% endblock %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
        <link rel="stylesheet" href={{ url_for('static', filename='css/nav.css') }} />
        {% block css %}{% endblock %}
        
        <title>My Money Calendar</title>
    </head>
    <body>
        {% include "nav.html" %}
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="modal-pane"></div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-messages">
                    {% for message in messages %}
                        <p class="flash-message">{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <script type="text/javascript" src={{ url_for('static', filename='js/utils.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/dateLib.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modal.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/messages.js' )}}></script>

        {% if current_user.is_authenticated %}
            <script type="text/javascript" src={{ url_for('static', filename='js/nav.js') }}></script>
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
</html>